<% if fortune.present? %>
  <turbo-frame id="fortune_result">
    <div class="card shadow-sm mt-4" style="margin: auto; width: 70%;">
      <div class="card-body text-center">
        <h2 class="mb-3">­Ъј▓ С╗іТЌЦсЂ«сѓесЃ│сѓИсЃІсѓбжЂІтІб ­Ъј▓</h2>
        <p class="animate__animated animate__bounceInDown" style="animation-delay: 0s;">
          <strong>сѓесЃЕсЃ╝ујЄ:</strong> <span class="text-danger"><%= fortune.error_rate %></span>
        </p>
        <p class="animate__animated animate__bounceInDown" style="animation-delay: 0.3s;">
          <strong>сЃљсѓ░жЂІ:</strong> <span class="text-primary"><%= fortune.bug_fortune %></span>
        </p>
        <p class="animate__animated animate__bounceInDown" style="animation-delay: 0.6s;">
          <strong>сѓ│сЃЪсЃЃсЃѕсЃЉсЃ»сЃ╝:</strong> <span class="text-success"><%= fortune.commit_power %></span>
        </p>

        <!-- TwitterсѓисѓДсѓб -->
        <%= link_to "https://twitter.com/intent/tweet?text=
сђљсѓесЃ│сѓИсЃІсѓбсЂ┐сЂЈсЂўсЂ«ухљТъюсђЉ%0a
  сѓесЃЕсЃ╝ујЄ : #{@fortune.error_rate}%0a
  сЃљсѓ░жЂІ : #{@fortune.bug_fortune}%0a
  сѓ│сЃЪсЃЃсЃѕсЃЉсЃ»сЃ╝ : #{@fortune.commit_power}%0a%0a
  %23сѓесЃ│сѓИсЃІсѓбсЂ┐сЂЈсЂў%0a
  &url=#{request.base_url}", class: "btn btn-info btn-lg mt-3", target: "_blank" do %>
          <i class="fab fa-twitter mr-1" style='color: #FFFFFF;'></i>TwitterсЂДсѓисѓДсѓб
        <% end %>
      </div>
    </div>
  </turbo-frame>
<% end %>